@model TaskDetailsViewModel

@{
    ViewBag.Title = "View Task Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="d-flex justify-content-center">
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.Title</h3>
            <p class="card-text"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="card-text"><span class="fw-bold">Board: </span>@Model.Board</p>
            <p class="card-text"><span class="fw-bold">Owner: </span>@Model.Owner</p>
            <p class="card-text"><span class="fw-bold">Created on: </span>@Model.CreatedOn</p>
            
            @if (Model.Owner == User.Identity?.Name)
            {
                <tr class="actions">
                    <th><span class="fw-bold">Actions:</span></th>
                    <td>
                        <a asp-controller="Task" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Task" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </div>
    </div>
</div>